aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
config.h
config.h.in
config.h.in~
autom4te.cache/
ChangeLog
config.log
config.status
configure
cscope.*
.deps/
Makefile
Makefile.in
wmblob
*.o
scripts/
stamp-h*
.*.sw[nop]
*.tar.*
_install
*.log
config.guess
config.sub
depcomp
install-sh
mkinstalldirs
missing
compile
